$background_main: #282c34;
$background_light: #4ecdc4;
$placeholder_color: rgba(255, 255, 255, 0.8);
$field_bg: rgba(255, 255, 255, 0.3);
$hover_shadow_color: rgba(0, 0, 0, 0.05);
$hover_bg_color: rgba(255, 255, 255, 0.45);
$focused_color: #28cc70;
$input_color: #282828;
